<p id=”notice”><%= notice %></p>
<% @posts.each do |post| %>
  <p class="post"><%= post.message %>

  <br>Posted by:  <%= User.find(post.user_id).username %>
  <% if current_user && friendship_not_exists?(User.find(post.user_id)) && post.user_id != current_user.id%>
       <%= link_to "Add Friend", friends_path(:user_id => current_user.id, :other_user_id => User.find(post.user_id).id), :method => :post %>
  <% end %>
    </p>
<% end %>

<% if current_user %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
  <br>
<div class="friend_list">
  Friend List:
<% current_user.friends.each do |friend|%>
<% puts current_user.friends %>
<% puts User.find(friend.other_user_id).username %>
  <%= User.find(friend.other_user_id).username  %>
  <br>
  <% end %>
</div>

<% end %>
