<p id=”notice”><%= notice %></p>
<% @posts.each do |post| %>
  <p class="post"><%= post.message %>

  <br>Posted by: <%= User.find(post.user_id).username %>
  <% if current_user %>
    <%= link_to "Add Friend", new_friend_path %>
  <% end %>
  </p>
<% end %>

<% if current_user %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
<% end %>

<br>
<br>
