<!DOCTYPE html>
<html>
  <head>
    <title>Knitter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon"
    href="/assets/logo/K-83648fe7f3612098837382486381a575f413c7d0d1f3eac9345962b41b8fb2e4.png">
  </head>

  <body>
    <header>
      <div class="grid-container">
        <!-- <a href=""> -->
          <a href="/" id='logo-text'><img class="logo" src="/assets/logo/K-83648fe7f3612098837382486381a575f413c7d0d1f3eac9345962b41b8fb2e4.png">nitter</a>
          <div class="grid-item"></div>
          <div class="grid-item"></div>
          <div class="grid-item"></div>
          <div class="grid-item"></div>
        <!-- </a> -->
        <% if current_user %>
          <div class="grid-item">
            <%= link_to friend_path(current_user.id), class: "friends-page" do %>
              <%= image_tag current_user.image, id: "current-user-image"%>
            <% end %>
          </div>
          <div class="username"><%= current_user.username %></div>
          <div class="grid-item"><a><%= link_to "Log Out", logout_path %></a></div>

        <% else %>
          <div class="grid-item">
          </div>
          <div class="grid-item">
            <%= link_to "Sign Up", signup_path %>
          </div>
          <div class="grid-item-login">
            <div class="login-form">
              <%= render partial: 'sessions/form'%>
            </div>
          </div>
        <% end %>
      </div>
    </header>

    <main>
      <div class="left-container">
        <%= yield %>
      </div>

      <div class="right-container">
        <img class="adimage-div" src="/assets/ads/jammie_dodgers-c5e33cfcad718baeb7d899217e7b55d8f786b2c1e6ee4830cd8d4aef5b38f8be.png">
        <img class="adimage-div" src="/assets/ads/win_a_teapot-cb10cf953a663966919866ca54b9f1c7acf905daf7ddb729e571e4b4b1da04c0.png">
        <img class="adimage-div" src="/assets/ads/missing_cat-7137ca39409b68347db8d2e6ef3a1b7307cadffad3ce8a1ecef5c0d41bea98e9.png">
        <img class="adimage-div" src="/assets/ads/privacypolicy-61017b134fef4077e4246aede557cbc84095d2980956aba1a797768aaed3f207.PNG">
        <img class="adimage-div" src="/assets/ads/icecream-aae3fae424019eb3b9242868e347e4cf72623fa10ae0d26f39784612712198ee.PNG">
        <img class="adimage-div" src="/assets/ads/head_scarves-578505992dbbf3eadaa8956c0b9dbe1ffc61d4f7451d775857fa8c5f7746f504.png">
        <img class="adimage-div" src="/assets/ads/ribena-1e7c3841146ed3178ec42ad1f18d1043379e0d278e12b508ce012455a1907784.PNG">
        <img class="adimage-div" src="/assets/ads/kiwi_shaver-c43f50b2aacb6f1e915e3fa7ef9388bd2d5e83e5a625749030c769f19e5e25e8.PNG">
        <img class="adimage-div" src="/assets/ads/toast-9078af10e35f419c6c8e216a2c47461f43bf0fbaebdd9edba758b1625b576947.PNG">
      </div>
    </main>
  </body>
</html>
